root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{mjs,ts,tsx,js,astro}]
indent_style = tab
indent_size = 4

[*.yaml]
indent_style = space
indent_size = 2

[*.json]
indent_style = tab
indent_size = 4

[*.yml]
indent_style = space
indent_size = 2

[*.lua]
indent_style = tab
indent_size = 4
max_line_length = 120
end_of_line = lf
table_separator_style = comma
trailing_table_separator = never
call_arg_parentheses = keep
insert_final_newline = true
space_after_comment_dash = false
